@import url(https://fonts.googleapis.com/css?family=Lato);
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");

$sans-serif: Lato, sans-serif;
$serif: Merriweather;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $sans-serif;
}

@import url("./dark-theme.scss");
@import url("./light-theme.scss");

.middlecenter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
}

.navbar-wrapper {
    width: 100vw;
}

.navbar-content {
    width: 100vw;
}

.dropdown-menu {
    z-index: 1;
}

.underline {
    height: 3px;
    width: 100px;
    position: absolute;
}

.loading {
    font-family: $serif;
    font-size: 3em;
    top: 30vh;
    position: absolute;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image {
    position: fixed;
    opacity: 0.10;
    z-index: -9999;
    background-repeat: no-repeat;
    background-clip: content-box;
}

@media (min-width: 300px) {
    .content {
        width: 100%;
    }

    .background-image {
        bottom: 0;
        height: 50%;
        width: 100vw;
    }
}

@media (min-width: 960px) {
    .content {
        width: 60vw;
    }

    .background-image {
        top: 0;
        height: 100vh;
        width: 100vw;
    }
}

.content-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    opacity: 0;
    position: absolute;
}


.title {
    margin-top: 50px;
}