$primary: #2ba4cb;
$alternate: #007bbf;
$secondary: #722bcb;

$black: #071b21;
$white: #f2f2f2;

.light-theme {
    color: $black;
    background-color: $white;

    .background-image {
        background-image: url(../static/img/bg-light.jpeg);
        background-size: 100%;
    }

    a,
    a:visited,
    a:active,
    a:hover {
        color: $black;
    }

    .menu-animation, .content-animation {
        background-color: $primary;
    }

    .underline {
        background-color: $white;
    }

    div.navbar-wrapper,
    nav {
        background-color: $black;
        color: $white;
    }

    nav {
        border-bottom: 1px solid $black;

        a,
        a:visited,
        a:active,
        a:hover,
        .dropdown-toggle.nav-link {
            color: $white;
        }

        .nav-item.dropdown {
            background-color: $black;
            color: $white;
        }

        a.navbar-brand {
            color: $white;
        }

        .dropdown-menu,
        .navbar-toggler {
            color: $white;
            background-color: $black;
            border-color: $black;
        }

        .navbar-toggler-icon {
            color: $white;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
        }

        .dropdown-item:hover {
            background-color: $alternate;
            color: $white;
        }
    }
}